body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

section {
    width: 60vh;
    margin-left: 160px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    display: inline;
    padding: 0 10px;
} 

a {
    text-decoration: none;
}

svg {
    vertical-align: middle;
}

img {
    vertical-align: middle;
}

footer {
    background-color: #f2f2f2;
    font-size: 13px;
    height: 4vh;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
}

p {
    font-size: 13px;
    margin: 0;
    padding: 5px 0;
    /* color: black; */
}

h3 {
    font-size: 20px;
    margin: 0;
    font-weight: normal;
}

#logo{
    height: 27px;
    width: 78px;
}

#logo-box {
    margin: 0 30px; 
    display: inline-block;
}

#search-bar {
    border: 1px #eeeeee solid;
    border-radius: 25px;
    padding: 10px 20px;
    width: 580px;
}

#search-box {
    display: inline-block;
    /* width: 85%; */
}

#profile-pic {
    padding: 0 10px;
    height: 25px;
    width: 25px;
    border-radius: 100%;
}

#navbar {
    margin: 0;
    padding: 18px 0;
    width: 100%;
    white-space: nowrap;
}


#right-nav {
    /* display: inline; */
    float: right;
}

#tool-bar {
    /* border-bottom: solid black 1px; */
    font-size: 12px;
    /* padding-bottom: 15px; */
    /* padding-left: 140px; */
    margin: 12px 0px 12px 150px;
    white-space: nowrap;
}

.tool-box {
    padding: 11px 10px;
    color: gray;

}

.tool-box:hover{
    border-bottom: #1a73e8 2px solid;
    color: #1a73e8;
}

hr {
    border: #eeeeee 0.1px solid;
    margin: 0;
}

.tool {
    display: inline-block;
}

#right-tools {
    margin-left: 60px;
}

#icons {
    margin-right: 2px;
}

#total-results {
    font-size: 10px;
    margin: 12px 0;
}

.title {
    margin: 0;
}

.description {
    line-height: 1.4;
    color: #4b4b4b;
}

.results {
    margin-bottom: 15px;
}

#grid-icon {
    color: black;
}

.gray-text {
    color: gray;
}